body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:  black;
}

.cabecalho{
    column-count: 2;
    background-color: #b54cfcda;
}

.logo img{
    height: 120px;
    width: auto;
    display: block;
}

ul{
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    text-align: center;
}

li{
    display: inline-flex;
}

li a, .titulo-submenu{
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none;
    color: white;
}

li a:hover, .submenu:hover .titulo-submenu{
    background-color: #b54cfcda;
    color: white;
}

li.submenu{
    display: inline-block;
}

.lista-itens{
    display: none;
    position: absolute;
    background-color: #b64cfc;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px black;    
}

.lista-itens a{
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bolder;
}

.lista-itens a:hover{
    background-color: rgba(0, 128, 0, 0.671);
    color: white;
}

.submenu:hover .lista-itens{
    display: block;
}

.destaque1{
    background-image: url(../IMG/Background_Destaque01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
}

.destaque2{
    background-image: url(../IMG/Background_Destaque02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
}

.destaque1 h1, .destaque1 p, .destaque1 a, .destaque2 h1, .destaque2 p, .destaque2 a{
    margin-left: 100px;
    font-weight: bolder;
}

.destaque1 a, .destaque2 a{
    color: black;
    background-color: lightgreen;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    text-decoration: none;
    font-weight: bolder;
}

.destaque1 a:hover, .destaque2 a:hover{
    background-color: violet;
    color: white;
    font-weight: bolder;
}

.rodape{
    background-color: #b54cfcda;
    color: white;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
}

.produtos{
    background-color: rgb(248, 204, 211);
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
}

.produtos h3, .coluna1 h1{
    font-weight: bolder;
}

.coluna3{
    column-count: 3;
    text-align: center;
}

.coluna3 img{
    height: 250px;
    width: auto;
    display: block;
    margin: auto;
    display: block;
    
}

/* .formulario, .contato, .sobre{
    text-align: justify;
    background-color: rgb(248, 204, 211);
    color: black;
    padding-top: 0px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
} */

.t_conosco, .formulario, .contato, .sobre{
    text-align: justify;
    background-color: rgb(248, 204, 211);
    color: black;
    padding-top: 0px;
    padding-bottom: 35px;
}

.t_conosco p, .t_conosco h3, .t_conosco h2, .t_conosco label, .t_conosco input, .t_conosco textarea{
    margin-left: 40px;
    margin-right: 40px;
}

.t_conosco img{
    height: 350px;
    position: absolute;
    top: 650px;
    right: 50px;
}

.formulario p, .formulario h3, .formulario h2, .formulario label, .formulario input{
    margin-left: 40px;
    margin-right: 40px;
}

.formulario img{
    height: 350px;
    position: absolute;
    top: 450px;
    right: 150px;
}

.sobre p{
    margin-right: 460px;
    margin-left: 40px;
}

.sobre h3, .sobre h2, .sobre li{
    margin-left: 40px;
    margin-right: 40px;
}

.sobre ul{
    margin: 0;
    text-align: justify;
}

.sobre img{
    height: 350px;
    background-attachment: fixed;
    position: absolute;
    top: 350px;
    right: 75px;
}

.contato p, .contato h3, .contato h2, .contato label, .contato input, .contato textarea, .contato a{
    margin-left: 40px;
    margin-right: 40px;
}

.contato a{
    text-decoration: none;
    color: blue;
}

.contato img{
    height: 500px;
    position: absolute;
    top: 450px;
    right: 50px;
}

.topo{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    padding-top: 100px;
    padding-bottom: 100px;

    margin-left: 0px;
    margin-right: 0px;
}

.t_conosco .topo{
    background-image: url(../IMG/Background_Trabalhe_Conosco.jpg);
}

.formulario .topo{
    background-image: url(../IMG/Background_Formulario.jpg);
}

.sobre .topo{
    background-image: url(../IMG/Background_Sobre_Nos.jpg);
}

.contato .topo{
    background-image: url(../IMG/Background_Contato.jpg);
}



/* #b64cfc98 */
